<div id="contact" class="animate {{transitionState}}">

	<div class="img_bg2">
        <span class="bottom_sentence">CONTACT</span>
    </div>

    <div id="wrap">
            <div class="contact">
                <h2>We want to hear from you!</h2>
                <div class="contact_text">
                    We are working hard to improve Tripzzy everyday and make it the best experience it can be. If you want to improve the Tripzzy experience we would love to hear from you. Your input is incredibly valuable to us.
                </div>
                
                <form method="POST"> 
                                                   
                    <textarea name="message"  placeholder="Write to us!"></textarea>
                    <div class="clear"></div>
                    <button class="flr"> SEND</button>
                </form>
            </div>
    </div>

    <div class="footer">
        <a href="#the_team">The Team</a>
        <a href="#contact">Contact</a>
        <a href="#faq">FAQ</a>
        <a href="#terms_of_use">Terms and Conditions</a>
        <a href="#privacy_policy">Privacy Policy</a>
        <a href="#sitemap">Site Map</a>
    </div>

</div>