<div id="faq" class="animate {{transitionState}}">

	<div class="img_bg2">
        <span class="bottom_sentence">FAQS</span>
    </div>

    <div id="wrap">
        <div class="faq">
            <h2 class="centered">What’s Tripzzy?</h2>
            <div>
                <p>Tripzzy is a tool for avid travellers seeking RELEVANT travel advice and inspiration from the TRUSTED network of friends, enabling them to plan, organise, share and discover their past and prospective trips.</p>
                
                
            </div>
            <h4>How does it work?</h4>
            <p>Users post tripzzy requests on Tripzzy by stating the most important characteristics of their desired trip. We will then encourage their friends to suggest hotels, restaurants, and location content from their own experience. In that way, our users will receive travel advice based on experience of the people they are connected to.</p>
             
            <h4>Who can see my tripzzies and travel requests?</h4>
            <p>Your tripzzy requests are available for your selected Facebook friends to see on Tripzzy.com. They are also available on your Facebook wall if you check "Post on my FB wall" mark when completing a travel request!
Your tripzzies are available for all Tripzzters to see on Tripzzy.com! And, if you check the "Post on my FB wall" mark when completing a tripzzy, your tripzzy will appear on your FB wall!
Note: If you unfriend someone on Facebook, you will no longer be connected with that person on Tripzzy.com .</p>
            
            <h4>What’s in it for me?</h4>
            <p>No more:<br>
                • Random browsing through search engines<br>
                • Telephone calls to travel agents<br>
                • Endless pages of travel blogs<br>
                • Listening to contradictory advice from people who don’t know you</p>
            
        
            <div class="this_means centered">
                <strong> This means:</strong>
                
                <h5 style="padding-top:5px;">Tripzzy is smart!</h5>
                Receive quality travel advice from YOUR friends.
                
                <h5>Tripzzy is fast!</h5>
                Advice comes directly to you. No extra web research.
                
                <h5>Tripzzy is social!</h5>
                Help your friends and share your personal travel stories.

                <p style=" padding-top:30px;">
                All your travel plans, experiences and advice will be in one place, available for you to view and edit at any time</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <a href="#the_team">The Team</a>
        <a href="#contact">Contact</a>
        <a href="#faq">FAQ</a>
        <a href="#terms_of_use">Terms and Conditions</a>
        <a href="#privacy_policy">Privacy Policy</a>
        <a href="#sitemap">Site Map</a>
    </div>

</div>