<div id="privacy-policy" class="animate {{transitionState}}">

	<div class="img_bg2">
        <span class="bottom_sentence">privacy policy</span>
    </div>

    <div id="wrap">
        <div class="tou">
            <h2 class="centered">Besides top quality travel content. Your privacy is our highest priority.</h2>
            <div>

                <p>Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our Privacy policy.</p>
                
                
                <h4>User info</h4>
                
                <p>We will not use or share your information with anyone except as described in this Privacy Policy.</p>
                <p>If you correspond with us by email, we may retain the content of your email messages, your email address and our responses. We may also retain any messages you send through the Service, including the names of those individuals you interact with, as well as any information in User Content you post to the Service.</p>
                
                <h4>User Content</h4>
                
                <p>Tripzzy reserves the right, but has no obligation, to monitor the User Content you post on the Service. We reserve the right to remove any such information or material for any reason or no reason, including without limitation if in our sole opinion such information or material violates, or may violate, any applicable law or our Terms of Use Agreement, or to protect or defend our rights or property or those of any third party.
                </p>
                <p>Tripzzy also reserves the right to remove information upon the request of any third party. Following termination or deactivation of your Member account, Tripzzy may retain your profile information and User Content for a commercially reasonable time for backup, archival, or audit purposes. Furthermore, Tripzzy may retain and continue to use indefinitely all information (including User Content) contained in your communications to other Users or posted to public or semi-public areas of the Service after termination or deactivation of your Member account.
                </p>
                
                <h4>Testimonials and User Feedback</h4>
                
                <p>We often receive testimonials and comments from users who have had positive experiences with our Service. We occasionally publish such content. When we publish this content, we may identify our users by their first name and the first letter of their last name and may also indicate their home city. You agree that such testimonials and comments constitute "Feedback" subject to the User Agreement and you grant us the right to publish your first name, the first letter or your last name and your home city in connection with our use of such Feedback.</p>
                
                <h4>Facebook Connect</h4>
                
                <p>When you sign in to the Service through Facebook Connect, you authorize Facebook to provide Tripzzy with basic information such as your Facebook user ID, name, email, gender, birthday, current city, profile picture, networks, the Facebook user ID's of your friends who have also signed into the Service through Facebook Connect, and any other information you allowed to be shared with everyone (collectively the "Facebook Basic Information"). You may also give Tripzzy access to other information about you and your contacts from Facebook (together with the Facebook Basic Information, the "Facebook Data"). Tripzzy will comply with Facebook's policies regarding Facebook Data and respect your wishes regarding the same. For more information regarding Facebook's policies please refer to the Facebook Privacy Policy.</p>
                
                <h4>Cookies</h4>
                
                <p>We use "cookie" technology to collect additional website usage data and to improve Tripzzy and our products and services. We do not use cookies to collect personally identifiable information. We may use both session cookies and persistent cookies to better understand how you interact with the Site and our products and services, to monitor aggregate usage by our users and web traffic routing on the Site, and to improve the Site and our products and services. A session cookie enables certain features of the Site and our products and services and is deleted from your computer when you disconnect from or leave the Site. A persistent cookie remains after you close your browser and may be used by your browser on subsequent visits to the Site. Most Internet browsers automatically accept cookies. You can instruct your browser, by editing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit.</p>
                
                
                <h4>Location info</h4>
                
                <p>When you post travel advice we may access, collect, monitor and/or remotely store "location data," which may include GPS coordinates (e.g. latitude and/or longitude) or similar information regarding the location of your previous travels. Location data does not collect or share any personally identifiable information about you. Location data may be used in conjunction with other information in a manner that may constitute personally identifiable information.</p>
                
                
                <h4>Sharing of Personal Information</h4>
                
                <p>Other than as explained in this policy, we will not disclose any Personal Information we collect from you to others without your permission, except in certain limited circumstances: (a) to protect the security of our site and our rights under our User Agreement; (b) to protect ourselves against liability; (c) in response to legal process, (d) if we believe in good faith that the law requires it; or (e) in connection with a sale of our business or company. Please note that if we receive a formal request to disclose your Personal Information in connection with a legal action, we will attempt to tell you about it at least ten (10) days before we respond to that request, if permitted by law, via the e-mail address you provided during registration.</p>
                
                
                <p>We exercise great care to protect your personally identifiable information. This includes, among other things, using industry standard techniques such as firewalls, encryption, and site monitoring. Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, while we strive to protect your personally identifiable information, we cannot ensure or warrant the security of any information you transmit to us or receive from us. This is especially true for information you transmit to us via e-mail. We have no way of protecting that information until it reaches us. Once we receive your transmission, we make our best effort to ensure its security on our servers.</p>

                <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
                
                <p>By using our site, you consent to our privacy policy.</p>
                
                <p>If we decide to change our privacy policy, we will post those changes on this page. If there are any questions regarding this privacy policy you may contact us using the contact form on this website.</p>
                <br><br>
                <br><br>
                
                
            </div>
        </div>

    </div>

    <div class="footer">
        <a href="#the_team">The Team</a>
        <a href="#contact">Contact</a>
        <a href="#faq">FAQ</a>
        <a href="#terms_of_use">Terms and Conditions</a>
        <a href="#privacy_policy">Privacy Policy</a>
        <a href="#sitemap">Site Map</a>
    </div>

</div>