<div id="site-map" class="animate {{transitionState}}">

	<div class="img_bg2">
        <span class="bottom_sentence">site map</span>
    </div>

    <div id="wrap">
    	<div class="faq">
            <h2 class="centered">Where do you want to go?</h2>
            <p class="centered">Hopefully our site map will help you find all links on Tripzzy.com.<br>
            Also find inspirational places in Discover, or ask for info in Request.</p>
            
            <ul class="sitemap-list">
            	<li class="sitemap-home"><a href="/">Home</a></li>
                <li class="sitemap-theteam"><a href="#the_team">The team</a></li>
                <li class="sitemap-contact"><a href="#contact">Contact</a></li>
                <li class="sitemap-faq"><a href="#faq">FAQ</a></li>
                <li class="sitemap-terms"><a href="#terms_of_use">Terms and conditions</a></li>
                <li class="sitemap-privacy"><a href="#privacy_policy">Privacy policy</a></li>
            </ul>
            
            
            </div>
    </div>
    <div class="clear"></div>
 	<div class="footer">
        <a href="#the_team">The Team</a>
        <a href="#contact">Contact</a>
        <a href="#faq">FAQ</a>
        <a href="#terms_of_use">Terms and Conditions</a>
        <a href="#privacy_policy">Privacy Policy</a>
        <a href="#sitemap">Site Map</a>
    </div>

</div>