
<div id="the-team" class="animate {{transitionState}}">

	<div class="img_bg2">
        <span class="bottom_sentence">THE TEAM</span>
    </div>

    <div id="wrap">
    	<div class="the_team">
    
        <h2>An experienced international crew who knows about high quality travel. And helps others achieve it.</h2>
        
        <ul id="entreprenuers">

            

            <li class="Aleksandar">
                <h3>Aleksandar Čabrilo</h3>
                <p><strong>Been to:</strong> Serbia, Germany, Austria, Switzerland, The Netherlands, Belgium, Luxemburg, USA, Russia,
                France, Spain, Portugal, Italy, Monaco, Slovenia, Czech Republic, Slovakia, Croatia, Bosnia and Herzegovina, Macedonia, 
                Montenegro, Hungary, Greece, Turkey, Egypt</p><br>

                <p><strong>Top 3:</strong> Greece, Spain, France</p><br>

                <p><strong>Wants to go to:</strong> Peru, Brasil, Venezuela, Mexico</p><br>

                <p>
                Aleksandar is a passionate entrepreneur who likes to travel and explore new places and cultures. 
                Traveling quite often he needed an advice about place to stay or spots to explore. He believes that such advice should come from friends,
                 because only friends know your preferences and can give relevant and quality advice. 
                 There was no easy and effective way to get a direct advice from many of your friends and to explore spots they find interesting and 
                 memories they had. Gerald called him one day and shared the idea of Tripzzy and one week later Tripzzy was started ;)<br>
                </p>
                <p></p>
            </li>

            <li class="Gerald">
                <h3>Gerald Heydenreich</h3>
                <p>
                <strong>Been to:</strong> Germany, Austria, France, Spain, Belgium, Netherlands, Luxemburg, Switzerland, Italy, Monaco, Saudi Arabia, Dubai, Qatar, Abu Dhabi, Portugal, Denmark, Sweden, Finland, Estonia, Latvia, Lithuania, UK, Ireland, Czech Republic, Poland, Austria, Hungary, Serbia, Montenegro, Croatia, Albania, Marocco, Kenia, Greece, Cyprus, Malta, USA, Canada, Ecuador, Peru, Mexico, Thailand, Laos, China, Singapore, Australia, New Zealand, Vanuatu, Fiji</p><br>

                <p><strong>Top 3:</strong> New Zealand, Vanuatu, One of the above :-)</p><br>

                <p><strong>Wants to go to:</strong> Argentina, Chile, Brasil, South Africa, Namibia, Madagascar, Reunion</p><br>

                <p>Gerald is an entrepreneur by passion and  a travel enthusiast. The idea of tripzzy was born after having spend every year hours on finding the right location for the perfect vacation. He realized that relevant travel advice will only come from your own network of friends  and that there is no easy way how to track great spots and travel memories.The next day he called Aleks to start Tripzzy and one week later Tripzzy was started.</p>
                
            </li>
        
       
        </ul>
        
        
        
        <div class="clear"></div>
        <br><br><br><br>
        <!-- <p style="text-align: center;">We believe that in order to have your perfect trip, you need advice from the people who know you and your desires.<br><br>
        <strong><em>Enough about us. What's interesting ABOUT YOU... is YOU!</em></strong><br><br>
        <strong><em>Tell us about yourself!</em></strong><br><br>
        </p> -->
        
        </div>
    </div>

    <div class="footer">
        <a href="#the_team">The Team</a>
        <a href="#contact">Contact</a>
        <a href="#faq">FAQ</a>
        <a href="#terms_of_use">Terms and Conditions</a>
        <a href="#privacy_policy">Privacy Policy</a>
        <a href="#sitemap">Site Map</a>
    </div>
  
</div>

